<!doctype html>
<title>Photo</title>
<body>
    <!--
        myself: to grant actions like tag and delete
        user: to know whos commenting
        owner: whose photo this is
        photo: path to the photo
        pid: to insert tags
        caption: yeah
        tags: list of tags
        comments: all comments sorted by date and who said them
    -->
    {% if myself %}
    <h3>Hi {{ user }}, here is your photo</h3>
    <h4>User Controls:</h4>
    <p>
        <form action="{{ url_for('handle_insert_tags', pid=pid) }}" method="POST">
            Add tag(s) <input type="text" name="USER_TAGS" />
            <input type="submit" value="Add" />
        </form>
        <br>
        <form action="{{ url_for('delete_photo', pid=pid) }}" method="POST">
            <input type="submit" value="Delete Photo" />
        </form>
    </p>
    {% else %}
    <h3>{{ owner }}'s Photo</h3>
    {% endif %}

    <p> 
        <img src="{{ photo }}" alt="User Image" >
        <br>
        {{caption}}
        <br><br>
        Tags:
        {% if tags %}
            <ul>
                {% for tag in tags %}
                <li>
                    <a href="{{ url_for('tagged_photos', tag=tag) }}">[{{tag}}]</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if comments %}
            Comments:
            <ul>
                {% for (user, comment, date) in comments %}
                <li>
                    {{user}}: {{comment}}
                    <br>
                    {{date}}
                </li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}
        <br>
        <form action="{{ url_for('comment', pid=pid) }}" method="POST">
            <p> Leave a comment (as {{user}}) <input type="text" name="USER_COMMENT" /> </p>
            <input type="submit" value="Comment" />
        </form> 
        <br>
        <a href="{{ url_for('home') }}">Go home</a>
    </p>

</body>