<!doctype html>
<title>Album</title>
<body>
    {% if query and error %}
        <p>There was an issue with the query "{{query}}"</p><br>
        <p>The error was "{{error}}"</p><br>
    {% else %}

        {% if myself %}
        <h3>Hi {{ user }}, here are your albums</h3>
        <form action="{{ url_for('album', uid=uid) }}" method="POST"> <!-- action is where to send information -->
            Create a new album! Enter a name: <input type="text" name="USER_ALBUM" />
            <input type="submit" value="Create!" />
        </form>
        {% else %}
        <h3>{{ user }}'s albums</h3>
        {% endif %}

        {% if message %}
        <h4>{{message}}</h4>
        {% endif %}

        {% if albums %}
        <ul>
            {% for (aid, name, date) in albums %}
                <li>
                    <a href="{{ url_for('list_photos', uid=uid, aid=aid) }}">{{name}}</a> {{date}}
                    {% if myself %}
                    <form action="{{ url_for('delete_album', aid=aid) }}" method="POST"> <!-- send POST request thru a button by omitting text field-->
                        <input type="submit" value="Delete Album" />
                    </form>
                    <br>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <h4>No albums were found!</h4>
        {% endif %}
    {% endif %}
</body>