<!doctype html>
<title>Album</title>
<body>
    {% if query and error %} <!-- in case of an error! (also to show elif is valid)-->
        <p>There was an issue with the query "{{query}}"</p><br>
        <p>The error was "{{error}}"</p><br>
    {% else %}

        {% if myself %}
        <h3>Hi {{ user }}, here are your albums</h3>
        <form action="{{ url_for('album', uid=uid) }}" method="POST"> <!-- action is where to send information -->
            <p> Create a new album! Enter a name: <input type="text" name="USER_ALBUM" /> </p>
            <input type="submit" name="Search" /> <!-- Execute the action -->
        </form>
        {% else %}
        <h3>{{ user }}'s albums</h3>
        {% endif %}

        {% if message %} <!-- if statements using Jinja -->
        <h4>{{message}}</h4>
        {% endif %}

        {% if albums %}
        <ul>
            {% for (aid, name) in albums %}
                <li>
                    <a href="{{ url_for('list_photos', uid=uid, aid=aid) }}">[{{name}}]</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <h4>No albums were found!</h4>
        {% endif %}
    {% endif %}
</body>