<!-- Author: Craig Einstein -->
<!-- This is how to write a comment in HTML! -->

<html>

  <head>
    <title>Get a friend!</title> <!-- title of the webpage -->
  </head>

  <body>
    <!-- name/email is required -->    
    <h1>Welcome {{name}}!</h1>

    <form action="/friend" method="POST"> <!-- action is where to send information -->
      <p> Send a friend request to a user by email: <input type="text" name="USER_EMAIL" /> </p>
      <input type="submit" name="Search" /> <!-- Execute the action -->
    </form>

    {% if note %} <!-- if statements using Jinja -->
    <h4>{{note}}</h4>
    <li><a href="{{ url_for('find_users') }}">Show list of users</a> </li> 

    {% elif friends %}
    <h4>Here are all your friends:</h4>
    <ul> <!-- creates an unordered list -->
      {% for (uid, email) in friends %} <!-- Jinja for loop -->
        <li>
          <a href="{{ url_for('profile', uid=uid) }}">[{{email}}]</a>
        </li>
      {% endfor %} <!-- have to define the end for ifs and fors! -->
    </ul>

    {% elif query and error %} <!-- in case of an error! (also to show elif is valid)-->
    <p>There was an issue with the query "{{query}}"</p><br>
    <p>The error was "{{error}}"</p><br>
    {% endif %}

    {% if data %}
    <h4>Here are all the users! Feel free to add someone!</h4>
    <ul> <!-- creates an unordered list -->
      {% for (uid, email) in data %}
        <li>
          <a href="{{ url_for('profile', uid=uid) }}">[{{email}}]</a>
        </li>
      {% endfor %} <!-- have to define the end for ifs and fors! -->
    </ul>
    {% endif %}
    <br>
    <a href="{{ url_for('home') }}">Home</a>

    
  </body>
  
</html>
    
    
