<!-- author ben lawson (balawson@bu.edu) -->
<!-- rewritten by david shen (dshen1@bu.edu) -->
<!doctype html>
<title>Photoshare</title>

<!--
{% if photos %}
<h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}
-->

{% if user is none %}
  <h1>You are anonymously browsing.</h1> 
  <p> Have an account? <a href="{{ url_for('login') }}">Login!</a></p>
{% else %}
  <h1> Hello {{user}}!!</h1>
  <p>Go to <a href="{{ url_for('profile', uid=uid) }}">profile?</a></p>
  <ul>
    <li>Want to upload photos? <a href="{{ url_for('upload_file') }}">Go to your albums!</a></li>
    <li><a href="{{ url_for('find_users') }}">Show friends!</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>

  <p>
      insert you may also like here <br>
      Heres when the default options start:
  </p>
{% endif %}

<ul>
  <li><a href="{{ url_for('home') }}">Search for all photos by tag</a></li>
  <li><a href="{{ url_for('home') }}">Home</a></li>
</ul>
<p>
  insert user activity (most popular users) here <br>
  insert most popular tags here <br>
</p>

