<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>

<!-- probably want to differentiate between the logged in 
user's profile and somone elses profile
do that when you implement profiles by uid-->
<title>Photoshare</title>
{% if name %}
  <h1>{{ name }}'s Profile</h1>
{% endif %}

{% if photos %}
<h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

<ul>
<li><a href="{{ url_for('find_users') }}">Friend/Follow someone!</a> </li> 
<li><a href='/upload'>Upload a photo</a> </li> 
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>

